.user-card-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  
  .profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 30px;
  }
  
  .user-details-container {
    margin-left: 15px;
  }
  
  .user-name {
    font-size: 20px;
    color: #12022f;
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 8px;
  }
  
  .user-designation {
    font-family: 'Roboto';
    font-size: 15px;
    color: #594d6d;
    margin: 0px;
  }
  

  